<div class="pack-list container">

  <table class="table table-striped">
    <thead class="row">
        <tr class="col-4">
          <th>Pack Type</th>
        </tr>
      <tr class="col-2">
        <th>Packs since last legendary</th>
      </tr>
      <tr class="col-6">
        <th>If you open a pack and dont get a Legendary, press the No Legendary button to increment the counter</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pack in $ctrl.packList" class="row clear pack-id-{{pack.id}} {{pack.oddity}}">
        <td class="col-4 align-middle">
          <div class="">
            <img class="pack-art" src="{{pack.art}}" alt="{{pack.fullname}}">
            <p class="{{pack.name}}"><span class="badge badge-primary">{{pack.name}}</span</p>
            <p>{{pack.fullname}}</p>
          </div>
        </td>
        <td class="col-2 align-middle">
          <p class="counter label label-default">
            {{pack.counter}}
          </p>
        </td>
        <td class="col-6 align-middle">
          <p>
              As a maximum, in {{40 - pack.counter}} packs from {{pack.name}} you will a legendary card.
          </p>
          <button ng-click="increment(pack)" class="btn btn-lg btn-primary no-legendary">No Legendary</button>
          <button ng-click="legendary(pack)" class="btn btn-lg btn-success legendary">Legendary</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
