#navbar-toggle-cbox:checked ~ .collapse {
    display:block;
}

#navbar-toggle-cbox {
   display: none;
}


/**
 *
 * Reset and generic stuff
 */

* {
	padding: 0;
	margin: 0;
  font-family: 'Roboto', sans-serif;}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.hidden {
	content: " ";
}

body {
  padding: 0;
  margin: 0;
}

article {
  margin-top: 6em;
}
  article h2.row {
    font-size: 2em;
    margin: 0 auto;
    font-weight:200;
    display: block;
    text-align: center;
    text-transform: uppercase;
  }

section {
  clear: both;
  margin: 6em auto 6em;

}

  table {
    margin: 0 auto;
    width: auto;
    text-align: center;
  }
    table thead {
      margin-bottom: 0.3em;
    }
    table thead th {
      display: block;
      text-align: center;
      height: 100%;
    }
  section .row {
    width: 100%;
    clear: both;
  }

  section .counter {
    font-size: 5em;
  }

  #footer {
  	background-color: #373a48;
  	color:white;
  }

  #footer .footer-copyright{
  	background-color: #383737;
  	padding-top:3px;
  	padding-bottom:3px;
  	text-align: center;
  }

  #footer .footer-copyright p{
  	margin:10px;
  	color: #ccc;
  }

  #footer ul{
  	list-style-type: none;
      padding-left: 0;
      line-height: 1.7;

  }

  #footer h5{
  	font-size: 18px;
      color: white;
      font-weight: bold;
      margin-top: 30px;
  }

  #footer a{
  	color:#d2d1d1;
  	text-decoration: none;
  }

  #footer a:hover, #footer a:focus{
  	text-decoration: none;
  	color:white;
  }

  #footer .myCols{
  	text-align: center;
  }

  #footer .social-networks{
  	text-align: center;
  	padding-top: 30px;
  	padding-bottom: 38px;
  }

  #footer .social-networks a{
      font-size: 32px;
      margin-right: 5px;
      margin-left: 5px;
      color: #f9f9f9;
      padding: 10px;
      transition: 0.2s;
  }

  #footer .social-networks a:hover{
  	text-decoration: none;

  }

  #footer .facebook:hover{
  	color:#0077e2;
  }

  #footer .google:hover{
  	color:#ef1a1a;
  }

  #footer .twitter:hover{
  	color: #00aced;
  }

  @media screen and (max-width: 767px){
  	#footer {
  		text-align: center;
  	}
  }
